html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}
